//Styling for select dropdown
.advancedSearchSelectWrapper {
  background-color: #6B1E1E;
  width: 100%;
  max-width: 750px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);


  //Only for selectRecord
  &.selectRecordType {
    background-color: #E67E22
  }

  //For labels in the dropdown component
  .label-text {
    max-width: 250px
  }
}

//Styling for chips in the select/autocomplete field
.v-field {
  .v-chip {
    flex: 0 1 auto;
    margin: 4px;
    border-radius: 16px;
    font-size: 14px;
    height: 32px;
  }
}
